<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="CompleX_Settings.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="CompleX_Settings.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <CompleX_Settings.Settings>
            <setting name="Language" serializeAs="String">
                <value>auto</value>
            </setting>
            <setting name="Theme" serializeAs="String">
                <value>Office 2010 Blue</value>
            </setting>
            <setting name="LastDock" serializeAs="String">
                <value/>
            </setting>
            <setting name="EnableFormSkin" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SaveMessageLog" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LastFileExplorerPath" serializeAs="String">
                <value/>
            </setting>
            <setting name="LastPluginCount" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="MaxRecentMenuCount" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="OpenLastRecentFiles" serializeAs="String">
                <value>False</value>
            </setting>
        </CompleX_Settings.Settings>
    </userSettings>
    <applicationSettings>
        <CompleX_Settings.Settings>
            <setting name="DefaultBigFont" serializeAs="String">
                <value>Tahoma, 9pt, style=Bold</value>
            </setting>
            <setting name="DefaultStdFont" serializeAs="String">
                <value>Tahoma, 8.25pt</value>
            </setting>
        </CompleX_Settings.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
