<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GrepWrap.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <GrepWrap.Properties.Settings>
            <setting name="FindStrSingleFilePattern" serializeAs="String">
                <value>(?&lt;line&gt;[0-9]+):(?&lt;start&gt;[0-9]+):(?&lt;match&gt;.+)</value>
            </setting>
            <setting name="GrepResultPattern" serializeAs="String">
                <value>(?&lt;file&gt;([^:]|(:\\))+):(?&lt;line&gt;[0-9]+):(?&lt;start&gt;[0-9]+):(?&lt;match&gt;.+)</value>
            </setting>
            <setting name="GrepCommand" serializeAs="String">
                <value>findstr</value>
            </setting>
            <setting name="GrepArguments" serializeAs="String">
                <value>/N /O {2} "{0}" {1}</value>
            </setting>
            <setting name="FindStrSingleFileFix" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UseRegexArg" serializeAs="String">
                <value>/R</value>
            </setting>
            <setting name="IgnoreCase" serializeAs="String">
                <value>/I</value>
            </setting>
            <setting name="RecurseDirectories" serializeAs="String">
                <value>/S</value>
            </setting>
            <setting name="InvertSearch" serializeAs="String">
                <value>/V</value>
            </setting>
            <setting name="FindStrRecurseDirFix" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FindStrSingleMatchPerLineFix" serializeAs="String">
                <value>True</value>
            </setting>
        </GrepWrap.Properties.Settings>
    </userSettings>
</configuration>